*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;
}


nav {
    display: flex;
    justify-content: space-between;
    background-color: white;
    height:56px;
    width:100%;
    box-shadow: 0px 1px 3px #ccc;
    padding: 8px 13px 0px 13px;
    position: sticky;
    top: 0;
    z-index: 3;
}

.nav-left {
    display: flex;
}

.nav-left .fa-facebook{
    color: #1877f2;
    font-size: 40px;
}
.nav-left .fa-thin fa-heart{
    color: #1877f2;
    font-size: 50px;
}

.search{
    position: relative;
}

.search .fa-search{
    color: #606770;
    position: absolute;
    font-size: 15px;
    left: 15px;
    top: 12px;
}

.search input  {
    border: none;
    margin-left: 5px;
    background-color: #f5f0f0;
    border-radius: 50px;
    padding:7px 16px 9px 36px;
    color: #606770;
    font-size: 15px;
    height: 40px;
}

.nav-left input:focus {
    outline: none;
}
.nam{
   border-style: solid;
   padding: 5px 10px;
}
.menu{
    
    display: flex;
    justify-content: center;
    list-style: none;
    justify-content: space-around;
    margin-left: 50px;
}
.nav-menu{
    justify-content: center;
    justify-content: space-around;
    
}
li{
    margin-left: 60px;
}
.back{
    display: flex;
    background-color: aqua;
  height: 500px;
    display: flex;
}
.img11{
    position: relative;
    top: 20%;
    left: 40%;
   align-content: center;
}
.text1{
    position: absolute;
    top: 50%;
    right: 20%;
}
.input1{
    color: #b10abd;
    padding: 10px;
}
.but1{
    background-color: #b10abd;
    color: aliceblue;
    padding: 15px 30px;
    position: absolute;
    top: 120%;
    right: 50%;
    border-radius: 10%;
    border: none;
    outline: none;
   
}
.but1:hover {
    background-repeat: ;
}

body{
    height: 500vh;
}

body:hover {
    overflow: scroll;
 }


.ship1{
    display: flex;
    position: absolute;
    top: 95%;
    left: 5%;
}
.retu1{
    display: flex;
    position: absolute;
    top: 95%;
    left: 35%;
}
.sup1{
    display: flex;
    position: absolute;
    top: 95%;
    left: 65%;
}
li:hover{
    color: rgb(255, 183, 0);
}
.imges{
    display: flex;
    position: absolute;
    top: 90%;
    padding: 60px;
    margin: 50px 50px;
    justify-content: space-around;
   
  
}
.img-t{
    height: 550px;
    width: 350px;
    border: 1px solid black;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 20px;
  margin-left: 80px;
  background-color: lightblue;

}
.img-33{
    display: flex;
    position: absolute;
    top: 100%;
    padding: 60px;
    margin: 50px 50px;
    justify-content: space-around;
    /* background-color: #ccc; */
   
  
}
.img-3{
    height: 230px;
    width: 220px;
    /* border: 1px solid black; */
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 20px;
  margin-left: 80px;
  background-color: lightblue;
}
.p-wom{
    position: absolute;
    top: 70%;
    left: 15%;
    width: 30%;
    font-size: large;
    overflow-clip-margin: content-box;
    overflow: clip; 
    color: white;
  text-shadow: 2px 2px 4px #000000;  
}
.p-men{
    position: absolute;
    top: 70%;
    left: 45%;
    width: 30%;
    font-size: larger;
    overflow-clip-margin: content-box;
    overflow: clip;
    color: white;
  text-shadow: 2px 2px 4px #000000; 
}
.p-chil{
    position: absolute;
    top: 70%;
    left: 80%;
    width: 30%;
    font-size: large;
    overflow-clip-margin: content-box;
    overflow: clip; 
    color: white;
  text-shadow: 2px 2px 4px #000000;  
}
.fp{
    /* border: #1877f2; */
    position: absolute;
    top: 110%;
    left: 50%;
    /* background-color: #e77b7bef; */
    height: 120px;
    width: 1500px;
    justify-content: center;
    text-align: center;
    
}
.sec3{ 
        position: absolute;
    top: 120%;
    left: 10%;
    height: 600px;
    width: 800;
    background-color: rgb(207, 19, 19); 
}
.cl-1{
    position: absolute;
    top: 75%;
    left: 15%;
    width: 30%;
    font-size: large;
    overflow-clip-margin: content-box;
    overflow: clip; 
    color:purple;
  /* text-shadow: 2px 2px 4px #000000;   */
}
.sh-1{
    position: absolute;
    top: 75%;
    left: 45%;
    width: 30%;
    font-size: larger;
    overflow-clip-margin: content-box;
    overflow: clip;
    color: purple;
  /* text-shadow: 2px 2px 4px #000000;  */
}
.cl-2{
    position: absolute;
    top: 75%;
    left: 80%;
    width: 30%;
    font-size: large;
    overflow-clip-margin: content-box;
    overflow: clip; 
    color: purple;
  /* text-shadow: 2px 2px 4px #000000;   */
}
.sale{
    display: flex;
}
.sec4{ 
     /* background-color:rgb(128, 128, 128);   */
    position: absolute;
    top: 270%;
    height: 550px;
    width: 1200px;
}
.h-sal{
    position: absolute;
    top: 60%;
    right: 20%;
    justify-content: center;
    align-items: center;
    color: #b10abd;
}
.img-4{
    height: 350px;
    width: 550px;
    border: 1px solid black;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 20px;
  margin-left: 80px;
  background-color: lightblue;

}
.bs{
    /* justify-content: center; */
    text-align: center;
}

